<!DOCTYPE html>
<html lang="en">
    
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foodies: Daily Food Tracker</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <h1>Dashboard</h1>
  <p>Welcome to your dashboard! Here are your consumption stats:</p>

  <div>
    <canvas style="height: 350px; margin: 50px;" id="foodChart"></canvas>
</div>

{{!-- <div>
   <canvas style="height: 350px; margin: 50px;" id="waterChart"></canvas>
</div> --}}
    <!--Will put in chart.js once solved-->
    <button id="todays-consumption-btn">Enter Today's Consumption</button>
    <footer>
        <button id="logout-btn">Logout</button>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/chart.js"></script>
  {{!-- <script src="/js/water_chart.js"></script> --}}

</body>